@{
    ViewData["Title"] = "Contacto.";
}
<h1>@ViewData["Title"]</h1>
<h2>@ViewData["Message"]</h2>

<address>
    La Paz - Bolivia <br />
    La Paz - Miraflores <br />
    <abbr title="Phone">Telefono:</abbr>
    (2)222-123-456
</address>

<address>
    <strong>Correo del soporte: </strong><a href="mailto:soporte@gmail.com">Soporte</a>
</address>
