@{
    ViewData["Title"] = "Sistema Academico";
}

<div class="text-center">
    <h1 class="display-4"><u>Bienvenido!</u></h1>
    <br />
    <hr />
    <p>
    Este sitio a sido construido con .NET Core y contiene un sistema de administracion academica.
    </p>
    <p><img src="~/img/bnobgx.png" alt="..." height="120" width="180" /> <img src="~/img/bnobg.png" alt="..." height="120" width="180" /></p>
</div>
