@{
    ViewData["Title"] = "Sistema Academico";
}

<div class="text-center">
    <h1 class="display-4">Bienvenido!</h1>
    <hr />
    <p>Este sitio a sido construido con .NET Core</p>
</div>
